doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Survival Legends
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/superhero/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
  body
    h1 Survival Legends

.container
  .title
    p Game Board V1
    button#start.btn.btn-primary Start Game
  #gameboard
    
  .row  
    .col-md-2#chiefChars
    .col-md-2#asnChars
    .col-md-2#fghtrChars
    .col-md-2#mageChars
    .col-md-2#marksmanChars
    .col-md-2#runnerChars    

  script(src='/vendor/jquery/dist/jquery.js')
  script(src='/main.js')
