doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Survival Legends
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/superhero/bootstrap.min.css')
    link(rel="stylesheet", href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='/style.css')
  body
    h1 Survival Legends

.container
  .title
    h4 Game Board V1
    button#start.btn.btn-primary Start Game
  #gameboard
    
  .row
    .col-md-6#set1
      h2#set1Title Red Side
      .col-xs-2#chiefSet1
        p Chief
      .col-xs-2#assassinSet1
        p Assassin
      .col-xs-2#fighterSet1
        p Fighter
      .col-xs-2#mageSet1
        p Mage
      .col-xs-2#marksmanSet1
        p Marksman
      .col-xs-2#runnerSet1
        p Runner
        
    .col-md-6#set2
      h2#set2Title Blue Side
      .col-xs-2#chiefSet2
        p Chief
      .col-xs-2#assassinSet2
        p Assassin
      .col-xs-2#fighterSet2
        p Fighter
      .col-xs-2#mageSet2
        p Mage
      .col-xs-2#marksmanSet2
        p Marksman
      .col-xs-2#runnerSet2
        p Runner

  script(src='/vendor/jquery/dist/jquery.js')
  script(src='/vendor/lodash/lodash.js') 
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js')  
  script(src='/main.js')
